<!DOCTYPE html>
<html>
<head>
	<title>Carta</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<style type="text/css">
		.jumbotron {
		 	margin: 30px;
		}
	</style>
	<style>
body {
    background-color: lemonchiffon;
}

h2 {
    color: darkslategray;
    text-align: center;
}
h1 {
    color: darkslategray;
    text-align: center;
}

p {
    font-family: serif;
    font-size: 20px;
}
</style>
</head>
<body background= "{%static "fondo.jpg" %}"; background-position: center;>
<div class="container-fluid">
	<div class="row-fluid">
			<div class="jumbotron">
				 <img src="{%static "slogan.jpg" %}" class="img-responsive-center" align="center" > 
			</div>
	</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="../quienessomos/">Quiénes somos <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="../carta/">Carta <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="../pedidos/">Haz tu pedido <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="../sugerencias/">Sugerencias y comentarios <span class="sr-only">(current)</span></a>
   
    </div>
  </div>
</nav>


<left>
		<div class="row">
			<div class="jumbotron">
					<h1>Carta</h1>
					
					<img src="{%static "platos.jpg" %}" class="img-responsive-center" align="center" > 
					
				<div class="row">
					<img src="{%static "plato1.jpg" %}" class="rounded float-left" height="300" width="300">
					<p>INFO PLATO</p>
					</div>
				<div class="row">
					<img src="{%static "plato2.jpg" %}" class="rounded float-left" height="300" width="300">
					<p>INFO PLATO</p>
					</div>
				<div class="row">
					<img src="{%static "plato3.jpg" %}" class="rounded float-left" height="300" width="300">
					<p>INFO PLATO</p>
					</div>
				<div class="row">
					<img src="{%static "plato4.jpg" %}" class="rounded float-left" height="300" width="300">
					<p>INFO PLATO</p>
					</div>
					
			</div>
			
</left>
	</div>				
</div>
</body>
</html>
